:root {
  --main-bg-color: #fff;
  --secondary-bg-color: #1d313c;
  --accent-color: #181e21;

  --main-text-color: #fff;
  --secondary-text-color: #636867;

  --header-bg-color: rgba(0, 0, 0, 0.1);
  --hero-bg-color: #303439;
  --input-bg-color: #F9F9F9;

  --main-font: "Satoshi", sans-serif;
  --accent-font: "Melodrama", sans-serif;
}
