.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: var(--main-text-color);

  background-color: var(--header-bg-color);
  backdrop-filter: blur(10px);

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__nav {
  & .nav__list {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  .nav__item {
    font-family: var(--main-font);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
  }
}
