.menu {
  & .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & .section-title {
  }
}

.menu__list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;

  margin-bottom: 72px;
}

.menu__item {
}
.menu__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.menu__item-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.64px;
}

.menu__item-price {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.menu__item-descr {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 400;
}
